body {
    width: 1200px;
    margin: auto;

}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px;
}

.ask-btn {
display: flex;
padding: 10px 20px;
color: white;
background: #33836E;
border-radius: 10px;
border: none;
font-size: 16px;
}

.contact {
display: block;
}

.phone-number {
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.seacrh {
    width: 427px;
    border: none;
    font-size: 16px;
    background: rgba(47, 43, 67, 0.04);
    border-radius: 10px;
    padding: 10px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px;
}
.btn {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 20px;
gap: 10px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 10px;
background: white;

}
a {
    color: black;
    text-decoration: none;
}
.entrance {
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
}
.chapter {
display: block;
color: rgba(47, 43, 67, 0.5);
margin-top: 40px;
}
.stroca{
    margin: 40px 0px;
}

.stroca1{
    width: 657px;
    display: flex;
    flex-direction: column;
}
.stroca a{
    text-decoration: none;
    color: rgba(47, 43, 67, 0.5);
}

.heading{
    font-size: 38px;
    color: #140A32;
    font-weight: 700;
    line-height: 52px;
    padding: 30px 0px;
}

.text{
    line-height: 160%;
}

.stroca1-2{
    padding: 30px 0px;
    display: flex;
    gap: 30px;
}

.phone-number1{
    color: rgba(51, 131, 110, 1);
    font-size: 24px;
    line-height: 33px;
    
}

.contact-info {
    font-size: 12px;
    line-height: 35px;
    color: rgba(47, 43, 67, 0.5);
}
.contact-info1 {
    display: block;
    height: 0px;
    border: 2px solid #33836E;
}
.human{
    display: flex;
}